body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: calc(3 * min(1svw, 1svh));
  touch-action: none;
  background-color: beige;
  user-select: none;
  -webkit-user-select: none;
}

.square {
  background: #fff;
  border: calc(0.15 * min(1svw, 1svh)) solid #999;
  float: left;
  width: calc(19 * min(1svw, 1svh));
  height: calc(19 * min(1svw, 1svh));
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(2 * min(1svw, 1svh));
}

.detector {
  background: transparent;
  width: 70%;
  height: 70%;
  font-size: calc(7 * min(1svw, 1svh));
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.format {
  display: flex;
  justify-content: center;
  margin-bottom: calc(min(1svw, 1svh));
}

button {
  background-color: beige;
  border: calc(0.15 * min(1svw, 1svh)) solid #999;
  border-radius: calc(2 * min(1svw, 1svh));
  color: black;
}